{% extends "layout.html" %}

{% block body %}
  <div class="container" style="margin-top: 1%">
    <strong>statusy</strong>
    <hr>
    <div class="row">
      <div class="u-full-width" id="messages">
      </div>

      <div id="sub_messages"></div>
    </div>

    <div class="row">
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Response time (ms)</th>
            <th>Worker</th>
            <th>Last deploy date</th>
          </tr>
        </thead>
        <tbody>
          {% for site in sites %}
            <tr id="{{ loop.index0 }}">
              <td class="name">{{ site.name }}</td>
              <td class="status">{{ site.status }}</td>
              <td class="responseTime">{{ site.responseTime }}</td>
              <td class="worker">{{ site.worker }}</td>
              <td class="last_deploy_date">{{ site.last_deploy_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% for site in sites %}
      <div class="row" id="charts">
        <div class="three columns">
          <strong>{{ site.name }}</strong>
          <p><i>mean web response time</i></p>
          <p><strong id="average_{{ loop.index0 }}" class="average"></strong></p>

        </div>
        <div class="nine columns">
          <canvas id="chart_{{ loop.index0 }}" width="960" height="120"></canvas>
        </div>
      </div>
    {% endfor %}
</div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    var deploys = document.getElementById("deploys");

    socket.on('connect', function(error){
      var messages_row = document.getElementById('messages');
      var sub_messages_row = document.getElementById('sub_messages');

      messages_row.innerHTML = '<p class="message success">Connect succesfull</p>';
      sub_messages_row.innerHTML = '';
    });

    socket.on('connect_error', function(error){
      var messages_row = document.getElementById('messages');
      messages_row.innerHTML = '<p class="message error">' + error.type + ': ' + error.message + '</p>';
    });

    socket.on('connect_timeout', function(){
      console.log('connect timeout');
    });

    socket.on('connect_timeout', function(){
      console.log('connect timeout');
    });

    socket.on('reconnect', function(number){
      console.log(number);
    });

    socket.on('reconnecting', function(number){
      var sub_messages_row = document.getElementById('sub_messages');
      sub_messages_row.innerHTML = 'Trying to reconnect: ' + number;
    });

    socket.on('reconnect_attempt', function(){
      console.log('reconnect_attempt');
    });

    socket.on('sending request', function(site){
      var worker = document.getElementById(site.id).querySelector('.worker');
      worker.innerHTML = 'sending request..';
    });

    var sites_data = [
      {% for site in sites %}
      {
        labels: [],
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: []
            }
        ]
      },
      {% endfor %}
    ]

    socket.on('got response', function(site){
      var site_row = document.getElementById(site.id);
      var average_row = document.getElementById('average_' + site.id);
      var worker = site_row.querySelector('.worker');
      var responseTime = site_row.querySelector('.responseTime');
      var status = site_row.querySelector('.status');
      var statusClass = site.statusCode == 200 ? 'success' : 'error';

      site_row.className = site_row.className + ' ' + statusClass;
      worker.dataset.updated = site.last_checked_date;
      status.innerHTML = site.statusCode + ': ' + site.statusMessage;
      responseTime.innerHTML = site.responseTime;

      var now = new Date();

      sites_data[site.id].labels.push(now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds());
      sites_data[site.id].datasets[0].data.push(site.responseTime);

      if (sites_data[site.id].labels.length > 10) {
        sites_data[site.id].labels.shift();
      }

      if (sites_data[site.id].datasets[0].data.length > 10) {
        sites_data[site.id].datasets[0].data.shift();
      }

      var sum = 0.0;
      var data_length = sites_data[site.id].datasets[0].data.length;
      for (var i = 0; i < data_length; i++) {
        sum += parseFloat(sites_data[site.id].datasets[0].data[i]);
      }
      var average = sum / data_length;

      average_row.innerHTML = average.toFixed(2) + 'ms';

      var ctx = document.getElementById("chart_" + site.id).getContext("2d");
      var myLineChart = new Chart(ctx).Bar(sites_data[site.id], {
        animation: false,
        responsive: true,
        showTooltips: false,
        barShowStroke : false,
        barStrokeWidth : 0,
        barValueSpacing : 0,
      });
    });

    socket.on('deploy start', function(site){
      var site_row = document.getElementById(site.id);
      var status = site_row.querySelector('.status');
      var worker = site_row.querySelector('.worker');

      status.innerHTML = site.status;
      worker.innerHTML = site.worker;
    });

    socket.on('deploy stop', function(site){
      var site_row = document.getElementById(site.id);
      var status = site_row.querySelector('.status');
      var date = site_row.querySelector('.last_deploy_date');

      status.innerHTML = site.status;
      date.innerHTML = site.last_deploy_date;
    });

  </script>

  <script>
    setInterval(function () {
      var now = Date.now();
      var status = document.querySelectorAll('.worker');
      var suffix = 'sec';
      for (var i = 0; i < status.length; i++) {
        var updated = status[i].dataset.updated;
        var ago = now - updated;

        if (ago < 1000 * 60) {
          status[i].innerHTML = 'updated less than minute ago';
        } else {
          status[i].innerHTML = ago.toFixed(2) + suffix + ' ago';
        }



      }
    }, 1000);
  </script>

{% endblock %}
