hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row {
  margin: 5px 0;
}

.message {
  padding: 8px 0;
  margin: 0 0 0px;
  position: relative;
}

.success {
  color: #27ae60;
}

.error {
  color: #e74c3c;
}
